@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply leading-relaxed;
  }
}

@layer utilities {
  .body-container {
    max-width: theme(maxWidth.5xl);
    margin-inline: auto;
    padding-inline: 1.5rem;
  }
}
